# scripts
run.sh
scripts/
mega_sena*
senaAnalise*.js

# bins
lucky-sena-cli
lucky-sena-cli.exe
bets*
scraper
generate-bet
populate-db
api

# test
last-results.html
mocks

cover.out

# files
*.csv

# vscode
.vscode
__debug_*
access.log

